
  <h1>Articles Website</h1>
  <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eleifend sagittis nibh, in rhoncus eros pharetra nec. Nam ullamcorper id est vitae blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>


  <% @articles.each do |article| %>
  <h2 class="mt-8"><%= article.title %></h2>
  <%= article.content %></p>
<% end %>



